{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Бронювання</title>
    <link rel="stylesheet" type="text/css" href="{% static 'booking_app/style.css' %}">
</head>
<body>
    <h2 class="registring">Бронювання</h2>
    <form action="{% url 'booking' place_id=place.id %}" method="post">
        {% csrf_token %}
        <div class="reg_info">
            <p class="tags">Кількість людей:<input type="number" id="people" name="people" min="1"></p>
            <p class="tags">Дата з:<input type="date" id="date_from" name="date_from"></p>
            <p class="tags">Дата до:<input type="date" id="date_to" name="date_to"><br>
            {{error}}</p>
            <button type="submit" name="action" value="book" class="submit_button">Забронювати</button>
        </div>
    </form>
</body>
</html>
